$roboto: Roboto, Arial, Helvetica, sans-serif;
$roboto-b: Roboto-Bold, Arial, Helvetica, sans-serif;
$robo-slab-var: Roboto-Slab, Roboto, Helvetica, Arial, sans-serif;

// !Basic

$color: #41d6ff;
// $dark: #0d4625;
// $light: #6fcf97;

// !Other Colors
// $comp-color: #c37731;
$light-gray: rgb(172, 171, 171);
$dark-gray: rgb(59, 57, 57);
$w: #e5e5e5;
$b: #333333;

// !alerts
$alert-c: rgb(215, 145, 15);
$confirmation-c: rgb(27, 132, 27);
$error-c: rgb(131, 10, 10);
